################################
###### Core dependencies #######
################################
torch<2.0.0
torchvision<0.15.1
cached-path<1.2.0
spacy<3.4
transformers<4.22
filelock<3.8
wandb<0.13.0

# Protobuf is a dependency of wandb and tensorboard, but they are missing this pin.
protobuf<4.0.0

# Required so pip-compile can properly resolve the pydantic version
inflect<6.0
